<div class="row">
    <div class="col-md-6">
        <img src="assets/img/Inici.jpg" class="img-principal" alt="fondo-inicio">
    </div>

    <div class="col-md-6">
        <img src="assets/img/Logo-facultad.jpg" class="LogoFac" alt="Logo facultad">
        <h1 class="text-center pt-5 pb-5">Bienvenido de nuevo!</h1>
        <div class="row-correo-ingreso">
            <div class="row pt-5 pb-3">
                <div class="col-md-6">
                    <p>Correo Electronico:</p>
                </div>
                <div class="col-md-6">
                    <input type="text">
                </div>
            </div>
            <div class="row pt-3 pb-5">
                <div class="col-md-6">
                    <p>Contraseña: </p>
                </div>
                <div class="col-md-6">
                    <input type="password">
                </div>
            </div>
        </div>
        <div class="text-center pt-5">
            <button>INICIAR SESION</button>
            <p>Olvidaste tu contraseña?</p>
        </div>
    </div>
</div>
