<!--Barra Lateral derecha-->
<div class="row">
    <app-sidebar class="col-md-3"></app-sidebar>
    <div class="col-md-9">
        <div class="contenedorCuerpo" id="contenidoPrincipal">
            <div class="container">
                <div class="row card">
                    <div class="col-md-3"></div>
                    <div class="col-md-8">
                        <form>
                            <h2>Registrar materia</h2>
                            <div class="row pt-3 pb-2">
                                <div class="col-md-3">
                                    <label for="">Nombre materia:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="nombre-materia" />
                                </div>
                            </div>
                            <div class="row pt-2 pb-2">
                                <div class="col-md-3">
                                    <label for="">Codigo de materia:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="codigo-materia" />
                                </div>
                            </div>
                            <div class="row pt-3 pb-2">
                                <div class="col-md-9"></div>
                                <div>
                                    <input type="submit" id="registrar" class="btn btn-primary"
                                        value=" REGISTRAR MATERIA" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Etiqueta hr modificada para hacer linea de division de contenedor de izquierda y derecha-->
</div>