.contenedorCuerpo {
    background-image:url(/assets/img/fondo.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    
    color: #0068a1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
label{
    color: #546E7A;
    font-size:1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
}

input,select{
    border-radius: 15px;
    padding: 0.2rem;
    background-color: #e9e8e8;
    border-color: #e9e8e8;
}
#registrar{
    background-color: #0068A1;
    color: #FFFFFF;
    border-radius: 40px;
    width: auto;
    height: auto;
    font-size:0.9rem;
    font-weight: bold;
    padding: 0.7rem;
}
